# Created by .ignore support plugin (hsz.mobi)
Будет удалено .gitignore
Будет удалено .idea/runConfigurations/
Будет удалено .idea/workspace.xml
Будет удалено log/development.log
Будет удалено tmp/cache/
Будет удалено tmp/pids/
Будет удалено tmp/restart.txt
Будет удалено tmp/sockets/
